
.graph{
    max-width: 800px;

}
.info{
    max-width: 500px;
    display: inline-block; 
    text-align: left;
}
.tabs .tab a{
    color: rgb(175, 175, 175);

} /*Black color to the text*/

.tabs .tab a:hover {
    background-color: white;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color: transparent;
    color:#000;
} /*Background and text color when a tab is active*/

.tabs .tab a:focus.active {
    background-color: transparent;
    color:#000;
} /*Background and text color when a tab is active*/


.tabs .indicator {
    background-color: #2196f3;
    border-radius: 25px;
    height: 4px
} /*Color of underline*/

.tabs .tab {
    float: none !important;
    text-transform: none !important;
}


*:focus {
    outline: none !important;
}


html {
    scroll-behavior: smooth;
  }
  
.arial{
    font-family: Arial, Helvetica, sans-serif !important;
}

body{
    background-color: white;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar{

    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.above {
    height: 30vh
}

.search-bar{
    max-width: 550px;
}

.search-button{
    margin-top: 25px;
    border-radius: 25px;
    text-transform: unset !important;
    transition: transform .2s;
}

.search-button:hover{
    transform: scale(1.1);
}

.search-button:active {
    transform: translateY(4px)  scale(1.1);
}

.tweet{
    height: 250px !important;
    max-width: 550px;
}

.title{
    text-align: left !important;
    /* position: absolute !important; */
    /* left: 50% !important; */
    margin-left: 24vw;
}

.tweetCard{
    border-style: solid;
    border-color: lightgray;
    border-width: thin;

}

.loading{
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}


/* label color */
.input-field label {
    color: gray;
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: gray !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;;
}

/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
    color: #f44336 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #2196f3 !important;;
}